{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Yaml Article</h1>

    <ul>
       {% for article in yamlArticles %}
            <li> <h2>{{article.title}} </h2> 
                <em> {{article.auteur.prenom }}</em>
             </li>
        {% endfor %}
    </ul>

     <h1>Api Article</h1>

    <ul>
       {% for article in apiArticles %}
            <li> <h2>{{article.title}} </h2> 
                <em> {{article.author }}</em>
             </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}
